[Unit]
Description=Gripette Bluetooth WiFi Setup
After=bluetooth.target
Requires=bluetooth.target

[Service]
Type=simple
ExecStartPre=/usr/sbin/rfkill unblock bluetooth
ExecStart=/home/rasp/Project/Repo/gripette/.venv/bin/python -m gripette.bluetooth
Restart=on-failure
RestartSec=5
User=root
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
